<div class="container-fluid" *ngIf="!showForm">
  <div class="row">
    <div class="col-md-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
        <div class="page-title-right d-lg-block">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="create()"
          >
            <i class="fa fa-plus font-size-14 align-middle"></i>
            Tambah Data Barang
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-15">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-md-3 mb-3">
                  <input
                    class="form-control form-control-sm"
                    [(ngModel)]="modelParam.nama"
                    name="paramnama"
                    type="text"
                    placeholder="Cari berdasarkan Nama"
                    (keyup)="reloadDataTable()"
                  />
                </div>
                <div class="col-md-3 mb-3">
                  <input
                    class="form-control form-control-sm"
                    [(ngModel)]="modelParam.kode"
                    name="paramkode"
                    type="text"
                    placeholder="Cari berdasarkan Kode"
                    (keyup)="reloadDataTable()"
                  />
                </div>
                <div class="col-md-3 mb-3">
                  <ng-select
                    [(ngModel)]="modelParam.m_supplier_id"
                    [items]="listSupplier"
                    bindLabel="nama"
                    bindValue="id"
                    [disabled]="isView"
                    [multiple]="true"
                    name="m_supplier_id"
                    placeholder="pilih supplier"
                    appendTo="body"
                    (change)="reloadDataTable()"
                  ></ng-select>
                </div>
                <div class="col-md-3 mb-3">
                  <ng-select
                    [(ngModel)]="model.is_trash"
                    [items]="listStatus"
                    bindLabel="status"
                    bindValue="id"
                    [disabled]="isView"
                    name="is_trash"
                    placeholder="pilih status"
                    appendTo="body"
                    (change)="changeIsTrash()"
                  ></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover mobile-optimised mb-0"
              data-page-length="20"
            >
              <thead class="thead-light">
                <tr class="text-center">
                  <th>No</th>
                  <th>Kode</th>
                  <th>Nama</th>
                  <th>Supplier</th>
                  <th>Harga Beli</th>
                  <th>Harga Jual</th>

                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let val of listData; index as i"
                  class="text-center"
                  (dblclick)="view(val)"
                >
                  <td data-th="no">{{ i + 1 }}</td>
                  <td data-th="kode">{{ val.kode }}</td>
                  <td data-th="nama">{{ val.nama }}</td>
                  <td data-th="nama">{{ val.supplier }}</td>
                  <td data-th="nama">
                    Rp. {{ val.harga_beli | number: "1.2-2" }}
                  </td>
                  <td data-th="nama">
                    Rp. {{ val.harga_jual | number: "1.2-2" }}
                  </td>

                  <td class="row-action">
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item" *ngIf="model.is_trash != 1">
                        <a
                          href="javascript: void(0);"
                          (click)="edit(val)"
                          class="mr-2 mb-primary"
                          placement="top"
                          ngbTooltip="Edit"
                        >
                          <i class="fa fa-edit font-size-14 align-middle"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" *ngIf="model.is_trash != 1">
                        <a
                          href="javascript: void(0);"
                          (click)="delete(val)"
                          class="mb-danger"
                          placement="left"
                          ngbTooltip="Hapus"
                        >
                          <i class="fa fa-trash font-size-14 align-middle"></i>
                        </a>
                      </li>
                      <li class="list-inline-item" *ngIf="model.is_trash == 1">
                        <a
                          href="javascript: void(0);"
                          (click)="restore(val)"
                          class="mb-danger"
                          placement="left"
                          ngbTooltip="restore"
                        >
                          <i
                            class="
                              fas
                              fa-trash-restore
                              font-size-14
                              align-middle
                            "
                          ></i>
                        </a>
                      </li>
                      <li class="list-inline-item" *ngIf="model.is_trash == 1">
                        <a
                          href="javascript: void(0);"
                          (click)="hapusPermanen(val)"
                          class="mb-danger"
                          placement="left"
                          ngbTooltip="hapus"
                        >
                          <i class="fas fa-trash font-size-14 align-middle"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="showForm">
  <app-page-title
    [title]="pageTitle"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form disabled="isView">
            <fieldset [disabled]="isView">
              <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px">
                  <span
                    style="
                      font-style: italic;
                      font-size: 11px;
                      font-weight: bold;
                    "
                  >
                    Tanda
                    <span style="font-size: 13px; color: red">*</span> wajib
                    diisi
                  </span>
                  <br />
                </div>
                <div class="col-md-7">
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Kode</label
                    >
                    <div class="col-md-6">
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        name="kode"
                        [(ngModel)]="model.kode"
                        placeholder="Kode"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Nama</label
                    >
                    <div class="col-md-6">
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        name="nama"
                        [(ngModel)]="model.nama"
                        placeholder="Nama"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Supplier</label
                    >
                    <div class="col-md-6">
                      <ng-select
                        [(ngModel)]="model.m_supplier_id"
                        [items]="listSupplier"
                        bindLabel="nama"
                        bindValue="id"
                        [disabled]="isView"
                        name="m_id_supplier"
                        placeholder="Pilih Supplier"
                        appendTo="body"
                        (change)="selectedSup()"
                      ></ng-select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Tipe Barang</label
                    >
                    <div class="col-md-6">
                      <ng-select
                        [(ngModel)]="model.m_tipe_barang_id"
                        [items]="listTipeBarang"
                        bindLabel="nama"
                        bindValue="id"
                        [disabled]="isView"
                        name="m_tipe_barang"
                        placeholder="Pilih Tipe"
                        appendTo="body"
                      ></ng-select>
                    </div>
                    <div class="col-md-3">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm ml-3"
                        (click)="tambahModal(modalTambah, 'tipe')"
                      >
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Tambah Data
                      </button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Satuan</label
                    >
                    <div class="col-md-6">
                      <ng-select
                        [(ngModel)]="model.m_satuan_id"
                        [items]="listSatuan"
                        bindLabel="nama"
                        bindValue="id"
                        [disabled]="isView"
                        name="m_satuan_id"
                        placeholder="Pilih Satuan"
                        appendTo="body"
                      ></ng-select>
                    </div>
                    <div class="col-md-3">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm ml-3"
                        (click)="tambahModal(modalTambah, 'satuan')"
                      >
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Tambah Data
                      </button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Harga Beli</label
                    >
                    <div class="col-md-6">
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        mask="separator"
                        thousandSeparator="."
                        name="harga_beli"
                        [(ngModel)]="model.harga_beli"
                        placeholder="Harga Beli"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label
                      class="col-md-3 col-form-label col-form-label-sm required"
                      >Harga Jual</label
                    >
                    <div class="col-md-6">
                      <input
                        class="form-control form-control-sm"
                        type="text"
                        mask="separator"
                        thousandSeparator="."
                        name="harga_jual"
                        [(ngModel)]="model.harga_jual"
                        placeholder="Harga Jual"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-light btn-sm mr-2" (click)="index()">
              <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
              Kembali
            </button>

            <button
              class="btn btn-primary btn-sm"
              [disabled]="model.nama == ''"
              *ngIf="!isView"
              (click)="save()"
            >
              <i class="fa fa-save font-size-14 align-middle mr-2"></i>
              Simpan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalTambah let-modal>
  <div class="modal-header">
    <div class="col-md-6">
      <h5 class="modal-title mt-0">Modal Tambah {{ tipeModal }}</h5>
    </div>
    <div class="col-md-6">
      <button
        class="btn btn-danger btn-sm float-right"
        (click)="modal.dismiss('Cross click')"
        aria-label="Close"
      >
        <i class="fa fa-times font-size-14 align-middle"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-4 col-form-label col-form-label-sm required"
            >Nama</label
          >
          <div class="col-md-8">
            <input
              class="form-control form-control-sm"
              type="text"
              name="nama"
              [(ngModel)]="model[tipeModal]"
              name="nama"
              placeholder="Nama {{ tipeModal }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <button class="btn btn-info btn-sm" (click)="simpan()">
        <i class="fa fa-save font-size-14 align-middle mr-2"></i>
        Simpan
      </button>
    </div>
  </div>
</ng-template>
